* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
}

strong {
  font-weight: bolder !important;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.1rem;
  }
}

h2 {
  margin: 0 0 1.5rem 0;
}

@media (max-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

nav {
  background-image: linear-gradient(180deg, #000, 1.9%, rgba(0, 0, 0, 0) 100%);
  background-color: transparent !important;
  box-shadow: none;
}

.nav-wrapper {
  padding-left: 20px;
}

.brand-logo {
  font-family: "Roboto Mono", monospace;
  /* font-size: 40px; */
}

@media (max-width: 768px) {
  .brand-logo {
    font-size: 1.7rem !important;
  }
}

nav li {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav li > a {
  height: 50px;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.underline-hover:hover {
  text-decoration: underline;
}

.sidenav li {
  border-bottom: 1px solid #fff;
}

.sidenav li a {
  color: #fff;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
}

.hero h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 3.2rem;
  line-height: inherit;
  margin-top: 0;
  padding: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 4px #777;
}

@media (max-width: 768px) {
  .hero {
    height: 100vh;
  }

  .hero h1 {
    position: absolute;
    bottom: 25px;
    font-size: 2rem;
    margin-bottom: 100px;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -525px;
  visibility: hidden;
}

@media (max-width: 768px) {
  a.anchor {
    top: -250px;
  }
}

.presentation {
  position: relative;
  background-color: #e3e4e8;
  padding: 50px 0 200px 0;
}

.presentation img {
  width: 30vw;
  position: absolute;
  right: 0;
  bottom: 25%;
  z-index: 0;
}

.presentation .container {
  position: relative;
}

.presentation p {
  z-index: 1;
  max-width: 50vw;
}

@media (max-width: 768px) {
  .presentation {
    padding-top: 25px;
    padding-bottom: 100px;
    overflow: hidden;
  }

  .presentation img {
    display: none;
  }

  .presentation p {
    max-width: 100vw;
  }
}

.presentation h1 {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1px;
  border-right: solid 3px rgba(0, 0, 0, 1);
  white-space: nowrap;
  overflow: hidden;

  /*ANIMATION*/
  animation: animated-text 2s steps(13, end) 1s 1 normal both,
    animated-cursor 1000ms steps(13, end) infinite;
}

@media (max-width: 768px) {
  .presentation h1 {
    display: inline;
    animation: animated-cursor 1000ms infinite;
  }
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }

  to {
    width: 500px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 0, 0, 1);
  }

  to {
    border-right-color: transparent;
  }
}

.portrait-wrapper {
  position: absolute;
  top: -145px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 768px) {
  .portrait-wrapper {
    width: 220px;
    top: -70px;
  }
}

.portrait {
  position: relative;
  height: 295px;
}

@media (max-width: 768px) {
  .portrait {
    height: 100px;
  }
}

/* SKILLS */
.skills {
  text-align: center;
  background-color: #e3e4e8;
  padding: 100px 0 100px 0;
}

.skills h2 {
  font-family: "Roboto Mono", monospace;
}

.skills img {
  width: 100px;
}

@media (max-width: 768px) {
  .skills {
    padding: 20px 0 50px 0;
  }

  .skills h2 {
    margin: 20px 0;
  }
}

.icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
}

.icon-item {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon-item.html:hover {
  filter: drop-shadow(0 14px 28px rgba(229, 77, 38, 0.35));
  transform: scale(1.1);
}

.icon-item.css:hover {
  filter: drop-shadow(0 14px 28px rgba(21, 114, 183, 0.35));
  transform: scale(1.1);
}

.icon-item.js:hover {
  filter: drop-shadow(0 14px 28px rgba(240, 219, 78, 0.35));
  transform: scale(1.1);
}

.icon-item.bs:hover {
  filter: drop-shadow(0 14px 28px rgba(91, 66, 131, 0.35));
  transform: scale(1.1);
}

.icon-item.git:hover {
  filter: drop-shadow(0 14px 28px rgba(243, 79, 41, 0.35));
  transform: scale(1.1);
}

.icon-item.java:hover {
  filter: drop-shadow(0 14px 28px rgba(219, 53, 53, 0.35));
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .icon-wrapper {
    flex-wrap: wrap;
  }

  .icon-wrapper img {
    width: 100px;
    margin: 0 5px;
  }

  .icon-item {
    margin-bottom: 20px;
  }
}

.icon-item {
  background-color: #fff;
  border-radius: 100%;
  padding: 30px;
}

.ratings {
  width: 100%;
  display: flex;
}

.ratings-wrap {
  width: 50%;
  text-align: center;
  padding: 60px 40px;
}

.ratings-wrap img {
  clip-path: circle(50%);
  width: 260px;
}

.ratings-wrap blockquote {
  font-size: 26px;
  line-height: 35px;
  color: #fff;
  border-left: none;
}

.ratings-wrap h3 {
  font-size: 18px;
  font-weight: 800;
  color: #364c56;
  text-transform: uppercase;
}

.ratings-wrap--left {
  background-color: #5b808f;
}

.ratings-wrap--right {
  background-color: #7b99a6;
}

@media (max-width: 768px) {
  .ratings {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .ratings-wrap {
    width: 100%;
  }
}

/* HOBBIES */
.hobbies {
  overflow: hidden;
  text-align: center;
  background-color: #e3e4e8;
  padding: 100px 0 100px 0;
}

.hobbies h2 {
  font-family: "Roboto Mono", monospace;
}

.hobbies-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.hobbies-item {
  width: 40%;
  height: 320px;
  /* border: 1px solid red; */
  margin: 1rem;
}

@media (max-width: 992px) {
  .hobbies-item {
    margin: 0 0 1rem 0;
  }
}

.hobbies-item h3 {
  text-shadow: 3px 3px 4px #777;
}

.hobbies-item .text {
  visibility: hidden;
  position: absolute;
  top: 50%;
  color: #fff;
  padding: 16px;
  font-size: 16px;
}

.hobbies-item .text-top {
  visibility: hidden;
  position: absolute;
  bottom: 50%;
  color: #fff;
  padding: 16px;
  font-size: 16px;
}

.hobbies-item:hover > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

.hobbies-item:hover .text,
.hobbies-item:hover .text-top {
  visibility: visible;
}

/* HOBBIES - MUSIC */
.hobbies-item.music h3 {
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 6px;
}

.hobbies-item.music {
  background-image: url(../img/hdrums.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hobbies-item.music:hover {
  filter: drop-shadow(0 14px 28px rgba(219, 181, 91, 0.35));
  transform: scale(1.1);
}

/* HOBBIES - SOCIAL */
.hobbies-item.social h3 {
  color: #fff;
  text-align: right;
  margin: 0;
  padding: 6px;
}

.hobbies-item.social {
  background-image: url(../img/hsocial2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hobbies-item.social:hover {
  filter: drop-shadow(0 14px 28px rgba(27, 102, 82, 0.35));
  transform: scale(1.1);
}

/* HOBBIES - SPORT */
.hobbies-item.sport h3 {
  color: #fff;
  text-align: left;
  margin: 255px 0 0 0;
  padding: 6px;
}

.hobbies-item.sport {
  background-image: url(../img/hsport.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hobbies-item.sport:hover {
  filter: drop-shadow(0 14px 28px rgba(10, 10, 20, 0.35));
  transform: scale(1.1);
}

/* HOBBIES - BOOKSGAMES */
.hobbies-item.booksgames h3 {
  color: #fff;
  text-align: right;
  margin: 210px 0 0 0;
  padding: 6px;
}

.hobbies-item.booksgames {
  background-image: url(../img/hbooksgames.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hobbies-item.booksgames:hover {
  filter: drop-shadow(0 14px 28px rgba(120, 4, 25, 0.35));
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .hobbies {
    padding: 20px 0 50px 0;
  }

  .hobbies h2 {
    margin: 20px 0;
  }

  /* .hobbies-wrapper {
    display: block;
  } */

  .hobbies-item {
    align-items: center;
    width: 75%;
    /* height: 500px; */
  }

  .hobbies-item.music h3,
  .hobbies-item.social h3,
  .hobbies-item.sport h3,
  .hobbies-item.booksgames h3 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 6px;
  }

  .hobbies-item .text,
  .hobbies-item .text-top {
    visibility: hidden;
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 16px;
    font-size: 16px;
  }

  /* .hobbies-item:hover > .overlay-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
  } */
}

/* DOWNLOADS */
.downloads {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(0, 0, 0, 0.85)
    ),
    url(../img/Bewerbungsfoto_laptop_back.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  z-index: -1;
  overflow: hidden;
  padding: 100px;
}

.downloads h2 {
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.downloads .dl-link {
  color: #fff;
  text-decoration: none;
}

.loading:after {
  content: ".";
  /* ANIMATION*/
  animation: animated-dots 1.5s steps(1, end) infinite;
}

@keyframes animated-dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.attachments {
  display: flex;
  flex-wrap: wrap;
}

.dl-list ul li a {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #5b808f !important;
  transition: 0.3s ease;
}

.dl-list a:hover {
  color: #fff !important;
}

.dl-list li {
  margin-bottom: 20px;
}

.dl-list h3 {
  margin: 100px 0 40px 0;
  font-weight: 400;
  color: #fff;
  font-size: 33px;
}

.dl-list.trainee {
  margin-right: 80px;
}

.material-icons {
  font-size: 40px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .downloads {
    padding: 50px 40px;
  }

  .dl-list h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 26px;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 20px 50px;
  background-color: #e3e4e8;
}

footer a {
  color: #000;
  text-decoration: none;
}

.footer-right {
  text-align: right;
}

.footer-right img {
  border-radius: 50%;
  max-height: 260px;
}

@media (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
  }

  .footer-right {
    margin-top: 1.6rem;
    text-align: center;
  }
}
